<div class="title">Calendar</div>

<div>
  <div id="main">
    <div class="calendar">
      <%= event_calendar %>
    </div>
  </div>

  <div id="side" year="<%=h @year %>" month="<%=h @month %>">
  </div>

</div>

<!-- Load the side bar -->
<% javascript_tag() do -%>
  ajax_load_url('<%= month_path(:year => @year, :month => @month) %>')
<% end -%>
