

body {
	font-family: palatino, baskerville, times, times new roman;
}

a {
	text-decoration: none;
	color: inherit;
}

.title {
	margin: 20px;
	font-size: xx-large;
	font-weight: bold;
}

.notice {
	margin: 20px;
	color: green;
	float: right;
}

.calendar {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

div.event {
	margin: 10px;
	width: 250px;
}

div.event-name {
	margin: 15px 5px 15px 5px;
	font-size: x-large;
	font-weight: bold;
}

table.event-info {
	margin: 0px 10px 20px 10px;
}

td.event-label {
	text-align: right;
	font-weight: bold;
	color: #555;
	padding-right: 10px;
	width: 60px;
	vertical-align: top;
}

div.event-separator {
	border-top: 1px dotted #bbb;
	/*width: 85%;*/
	height: 0px;
	margin: auto;
}

/* RedBox window style */
#RB_window {
	padding: 0 10px 0 10px;
	border: dashed 3px #bbb;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
	-moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}
