

body {
	font-family: palatino, baskerville, times, times new roman;
}

a {
	text-decoration: none;
	color: inherit;
}

.title {
	margin: 20px;
	font-size: xx-large;
	font-weight: bold;
}

.subtitle {
	margin: 10px;
	font-size: x-large;
	font-weight: bold;
}

.notice {
	margin: 20px;
	color: green;
	float: right;
}

.calendar {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.event {
	margin-top: 10px;
}

.event-date {
	font-style: italic;
}

.event-name {
}

.event-notes {
	border: 1px dashed #bbb;
	margin-right: 25px;
	padding: 5px;
}

.ajax {
	cursor: pointer;
}

.controls {
	/*width: 75%;*/
	margin: 25px;
	margin-left: 0px;
	padding: 5px;
	border: 1px dotted #bbb;
	text-align: center;
	color: #555;
}

/* RedBox window style */
#RB_window {
	padding: 0 10px 0 10px;
	border: dashed 3px #bbb;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
	-moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}
