
<% pf.fields_for *ff_args do |reminder_f| %>
  <div class="reminder">
    <%= reminder_f.text_field :email_address, :size => 15, :title => "email address" %>
    <%= reminder_f.select :days_before_to_send, days_before_array %>
    <%= remove_link reminder_f %>
  </div>
<% end %>
