<div class="event">

  <%= render "show", :event => @event %>

  <div class="event-separator"></div>

  <p>
    <%= link_to_remote_redbox "Edit", { :method => "get",
          :url => { :action => "edit", :id => @event.id }	} %> -
	
    <%= link_to 'Delete', @event, :method => :delete,
          :confirm => 'Really delete this event?' %>
  </p>
</div>
